<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
</head>
<body>
    <!-- The id 'vm' is just for consistency - it can be anything you want -->
    <div id="vm">
        <p>[[ greeting ]]</p>
        <form>
            <input type="text" name="" id="">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='landing.js') }}"></script>
</body>
</html>