<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    <h1>Register </h1>
    <form> 
        <input type="text" placeholder="First name">  <br>
        <input type="text" placeholder="Last name"> <br>
        <input type="text" placeholder="Middle Initial"><br>
        <input type="text" placeholder="Afiliation"> <!--Make this dropdown later --> <br>
        <input type="text" placeholder="Department"> <!--Make this dropdown later --> <br>
        <input type="text" placeholder="Addresss"><br>
        <input type="text" placeholder="City"><br>
        <input type="text" placeholder="State"> <!--Make this dropdown later --> <br>
        <input type="text" placeholder="Zip Code">  <br>
        <input type="text" placeholder="Phone Number">   <br>
        <input type="password" placeholder="Password">  <br>
        <input type="password" placeholder="Verify Password">  <br>
    </form>
      <a href="/login">Login</a>
    
</body>
</html>